html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
body{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
canvas{
    display: inline;
}
.algorithm-1{
    display: flex;
    align-items: baseline;
}
.button-container{
    display: flex;
}
.button-container > * {
    margin-right: 5%;
}