html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
body{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
canvas{
    display: inline;
}
h3{
    padding:0;
}
.algorithm-1{
    display: flex;
    align-items: baseline;
}
.button-container{
    display: flex;
}
.button-container > * {
    margin-right: 5%;
}
.range-control{
    display: flex;
    margin: 2% 0% 2% 0%;
}
.algo1{
    display: flex;
    justify-content: baseline;
}
.start-btn{
    margin: 5% 0% 5% 5%;
}
.listItem{
    margin: 5% 0% 0% 0%;
}
.sim-controls{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}
